/* background: #DC4A2D;
background: #B0B0B0;
#FCB4A5

background: var(--Component-colors-Utility-Success-utility-success-700, #067647);
#3D3D3D
#5D5D5D
border: 1px solid var(--Component-colors-Utility-Success-utility-success-200, #ABEFC6)
background: var(--Component-colors-Utility-Success-utility-success-50, #ECFDF3);
font-family: General Sans;
font-size: 16px;
font-weight: 500;
line-height: 28px;
text-align: left; */
/* #E7E7E7 */
/* #D1D1D1 */






